<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://m.media-amazon.com/images/S/aplus-media/sc/9a474f47-d43e-41df-8aea-d3051550b322.__CR0,0,970,600_PT0_SX970_V1___.jpg);">
  <div class="container">
    <h1>Mister Cocktail</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="cards">
        <% @cocktails.each do |cocktail| %>
        <div class="card-category">
          <% cocktail_details = "#{cocktail.name}" %>
          <%= link_to cocktail_details, cocktail_path(cocktail) %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6 text-align-center form-add-cocktail">
        <%= simple_form_for(@cocktail) do |f| %>
          <%= f.input :name %>
          <%= f.submit "Add Cocktail", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
